.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden; // wasn't needed

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; //fullfills entire parent while keeping aspect ratio and clipping parts that don't fit

    }
}